<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text utils</title>
    <style>
        body{
            color:rgb(255, 183, 0);
            background-color: rgb(103, 96, 96);
        }
        .container{
            list-style-type:square;
        }
    </style>
</head>
<body>
    <h2>Welcome to text editor</h2>
    <ul class="container">
        <li><h4>Your uppercase text is:-<pre><ul><li>{{capital}}</li></ul></pre></h4></li>
        <li><h4>Your lowercase text is:-<pre><ul><li>{{lower}}</li></ul></pre></h4></li>
        <li><h4>Your remove punctuation text is:-<pre><ul><li>{{Analyzetext}}</li></ul></pre></h4></li>
        <li><h4>Your number of character is:-<pre><ul><li>{{charcount}}</li></ul></pre></h4></li>
    </ul>
    </body>
</html>